@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Inconsolata:wght@400;700;800;900&family=Roboto+Mono&display=swap');


.form-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fefe6b;
    display: flex;
    flex-direction: column;
    padding: 25px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px;
}

.inputBox {
    padding: 10px;
    border: 1px solid #fefe6b;
    border-radius: 10px;
    border-style: none;
    margin: 5px;


}

.Label {
    font-family: 'DynaPuff', cursive;
    margin: 3px;
    color: #1d012f;


}